/* 初始化CSS */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
body { color:#333; padding:5px 0; font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ }
a { color:#666; text-decoration:none; }
a:visited { color:#666; }
a:hover, a:active, a:focus { color:#ff8400; text-decoration:underline; }
/*main*/
.main{width: 1000px;margin: 0 auto;clear: both;}
.listinfo{width: 200px;float: left;margin-left: 60px;font-size: 1.4em;}
hr{clear: both;}
p{float: left;}
#header{height: 100px;}
#content{width: 960px;margin-left: 20px;height: 400px;}
#footer{height: 100px;}
#searchinfo{height: 80px;}
#nowinfo{width: 220px;float: left;margin-left: 60px;font-size: 1.2em;height: 120px;}
#nowinfo a{font-size: 1.3em;}
#listinfobtn{float: left;width: 160px;}
#id_long_url{border: 1px solid; color:#666666; font-size: 14px; height: 32px; line-height: 32px; margin: 0; padding: 0 0 0 4px; width: 384px;}
#searchbtn{width: 80px;height: 35px;font-size: 1.3em;}
form {margin:0;position:absolute;left:25%;top:25%;}
.login_btn{display:inline-block;background-repeat:no-repeat;font-size:12px;text-decoration:none;color:#055675;}
.login_btn00{width:230px;height:48px;background-image:url(http://mat1.gtimg.com/app/opent/images/websites/login/login_icon_1.png);}
.login_btn01{width:170px;height:32px;background-image:url(http://mat1.gtimg.com/app/opent/images/websites/login/login_icon_2.png);}
.login_btn02{width:120px;height:24px;background-image:url(http://mat1.gtimg.com/app/opent/images/websites/login/login_icon_3.png);}
.login_btn03{width:105px;height:16px;background-image:url(http://mat1.gtimg.com/app/opent/images/websites/login/login_icon_4.png);}
.login_btn10{padding-left:20px;background-image:url(http://mat1.gtimg.com/app/opent/images/websites/share/weiboicon16.png);}
.login_btn20{}
img{border:none;vertical-align:middle;}
.logout_btn{display:none;margin:0px;padding:0px;font-size:12px;line-height:1.75;font-family:Arial,Helvetica,sans-serif;vertical-align:middle;color:rgb(100,100,100,);}
.head_img{display:inline-block;vertical-align:middle;}
.head_img img{vertical-align:middle;}
.logout_right{display:inline-block;vertical-align:middle;}
.nick_text{display:inline-block;margin-left:4px;text-decoration:initial;color:rgb(0,120,182);}
.logout_text{margin-left:5px;vertical-align:middle;text-decoration:initial;color:rgb(153,153,153);cursor:pointer;}
.qq_account_log{float: right;margin-left: 10px;}

